:root {
  --brand-color: #434455;
  --secondary-text-color: #e7e9fc;
  --light-text-color: #f4f4fd;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #434455;
  /* font-weight: 500; */
  font-size: 16px;
  line-height: 1.2;
}

/* Глобально */

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.title {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.links {
  text-decoration: none;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  display: block;
  position: relative;
  padding-top: 26px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-list .link {
  display: block;
  padding-top: 26px;
  padding-bottom: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-tel {
  margin-left: 40px;
}

.menu-link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

/* ==HERO== */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg-hero.jpg);
  background-size: cover;
  background-color: #303030;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  cursor: pointer;
}

.order-btn {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  color: #ffffff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-btn:hover,
.order-btn:focus {
  background-color: #404bbf;
}

/* ====Our features==== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}
.features-list > .item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.features-subtitle {
  margin-bottom: 8px;
  color: #2e2f42;
  margin-top: 8px;
}

.features-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: #f4f4fd;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-title {
  max-width: 500px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/* стилі заголовків */
.text-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.text-card-item {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

/*підкреслення з посилань відсутні*/
a {
  text-decoration: none;
}

/* Логотип */
.logos {
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  margin-right: 76px;
  padding-top: 26px;
  padding-bottom: 24px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-brand {
  color: #4d5ae5;
}

.logos-color {
  color: #4d5ae5;
}

/* What are we doing */
.section-work {
  padding-top: 0;
}
.work-title {
  margin-bottom: 72px;
  text-align: center;
  color: #2e2f42;
}
.work-list {
  display: flex;
  gap: 24px;
}
.work-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

/* Our Team */

.section-team {
  background-color: #f4f4fd;
}

.team-title {
  margin-bottom: 72px;
  text-align: center;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-member {
  flex-basis: calc((100% - 3 * 24px) / 4);
  background-color: #ffffff;
}

.team-description {
  padding: 32px 16px 32px 16px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-subtitle {
  margin-bottom: 8px;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: #f4f4fd;
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: #404bbf;
}

/* customers sec */
.section-customers {
  padding-top: 130px;
}

.customers-title {
  padding-bottom: 72px;
  text-align: center;
  color: #2e2f42;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;

  align-items: center;
  justify-content: center;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid #404bbf;
}

.customers-link:hover .customers-icon,
.customers-link:focus .customers-icon {
  fill: #404bbf;
}

.customers-icon {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* кнопки фільтра */
.list-button-order {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  background: #4d5ae5;
  border-radius: 4px;
}

.list-button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.list-button-order:hover,
.list-button-order:focus,
.list-button:hover,
.list-button:focus,
.list-button:active {
  background: #404bbf;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.link-item:hover,
.link-item:focus {
  color: #4d5ae5;
  font-weight: 500;
}

.mailto,
.telto {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.mailto:hover,
.mailto:focus {
  color: #404bbf;
}

.telto:hover,
.telto:focus {
  color: #404bbf;
}

/* прибираємо маркери списку */
.list-style-type {
  list-style-type: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.list-style-type:hover {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.list-style-type:active {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}

.text-card {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.text-card-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* підвал сайту */

.footer-style {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}
.logos-footer {
  display: block;
  margin-bottom: 16px;
  color: #f4f4fd;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-style-text {
  width: 264px;
  color: #e7e9fc;
}

.logos-color-footer {
  color: #4d5ae5;
}

.logos:hover,
.logos:focus,
.logos-footer:focus,
.logos-footer:hover {
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-footer {
  display: flex;
  gap: 120px;
}

.soc-wrap {
}
.soc-wrap-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.soc-wrap-list {
  display: flex;
  gap: 16px;
}

.soc-wrap-item {
  width: 40px;
  height: 40px;
}
.soc-wrap-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-wrap-link:hover,
.soc-wrap-link:focus {
  background-color: #31d0aa;
}
.soc-wrap-icon {
  fill: #f4f4fd;
}

/* ============== Example ============= */
.portfolio.section {
  padding-top: 96px;
}
.filter {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.filter-btn {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
  color: #4d5ae5;
  background-color: #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-btn:hover,
.filter-btn:focus {
  color: #ffffff;
  background-color: #4d5ae5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.example-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.example-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.example-description {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-top: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-top 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-link:hover .example-description,
.example-link:focus .example-description {
  border: 0.5px solid #f4f4fd;
  border-top: none;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.example-subtitle {
  margin-bottom: 8px;
  color: #2e2f42;
}

.example-text {
  color: #434455;
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  overflow: auto;
  transform: translate(0%, 100%);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
}
.example-link:hover .overlay,
.example-link:focus .overlay {
  transform: translate(0%, 0%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* =========== Modal Window =========== */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 576px;
  background-color: #ffffff;
}
.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
}

.modal-close-button:hover .modal-close-button-icon,
.modal-close-button:focus .modal-close-button-icon {
  fill: #ffffff;
}
.modal-close-button-icon {
}
